@model IEnumerable<LizardmanCinemas.ViewModels.SearchResult>
@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

@foreach (var item in Model)
{
    <div>
        <a href="@item.Url" class="window-links"><strong><i>@item.Name</i></strong></a>&nbsp;(@item.Type)
        <button class="btn" id="fulldetails" data-url="@item.FullUrl">Full Details</button>
    </div>
}


<div id="modalWindow">
</div>

<script>
    var url;
    var wnd;
    var specific;


    $("a.window-links").click(function (e) {

        e.preventDefault();
        e.stopPropagation();

        url = $(this).attr('href');

        wnd = $("#modalWindow").kendoWindow({
            title: ("Details"),
            modal: true,
            visible: false,
            content: url,
            resizable: false,
            width: 500
        }).data("kendoWindow");

        wnd.center().open();

    });


    $("#fulldetails").click(function (e) {

        e.preventDefault();
        e.stopPropagation();


        url = $(this).data('url');

        location.href = (url);

    });
</script>