* {
  margin: 0;
  padding: 0; }

.invisible {
  display: none; }

ul {
  list-style-type: none; }

#wrapper {
  color: #333; }
  #wrapper a {
    color: #333; }
  #wrapper ul {
    margin-left: 15px;
    margin-top: 15px; }
    #wrapper ul li:last-child {
      border-bottom: 1px solid black; }
    #wrapper ul li {
      position: relative;
      width: 105px;
      padding: 5px 0 7px 5px;
      border-top: 1px solid black; }
      #wrapper ul li a {
        text-decoration: none; }
      #wrapper ul li .current {
        font-weight: bold; }
      #wrapper ul li img {
        width: 25px;
        height: 25px; }
      #wrapper ul li div {
        position: relative; }
        #wrapper ul li div a {
          top: -20px;
          left: 291px;
          position: absolute;
          padding: 0 5px;
          border: 1px solid black;
          border-radius: 5px; }
        #wrapper ul li div div {
          position: relative; }
          #wrapper ul li div div fieldset {
            top: -35px;
            left: 115px;
            position: absolute;
            border: 1px solid black;
            width: 194px;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px; }
            #wrapper ul li div div fieldset legend {
              padding: 0 2px;
              font-size: 19px;
              font-weight: bold; }
            #wrapper ul li div div fieldset textarea {
              width: 177px; }
            #wrapper ul li div div fieldset button {
              padding: 5px 10px;
              border: 0;
              color: #333;
              border-radius: 15px;
              background: #c6c6c6;
              /* Old browsers */
              background: -moz-linear-gradient(top, #c6c6c6 0%, #686868 100%);
              /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6c6c6), color-stop(100%, #686868));
              /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, #c6c6c6 0%, #686868 100%);
              /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, #c6c6c6 0%, #686868 100%);
              /* Opera 11.10+ */
              background: -ms-linear-gradient(top, #c6c6c6 0%, #686868 100%);
              /* IE10+ */
              background: linear-gradient(to bottom, #c6c6c6 0%, #686868 100%);
              /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6', endColorstr='#686868',GradientType=0 );
              /* IE6-9 */ }