form {
  width: 1016px;
  margin: 0 auto; }

nav ul {
  margin: 0 auto;
  padding: 0 0 8px 8px; }
nav li {
  list-style: none;
  float: left;
  padding-right: 8px; }

.image-wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto; }
  .image-wrapper input[type="radio"] {
    display: none; }
  .image-wrapper input[type="radio"]:checked + .photo {
    visibility: visible; }
  .image-wrapper .photo {
    width: 800px;
    height: auto;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 130px; }
