@model LizardmanCinemas.Models.Director

@{
    var actorName = string.Format("{0} {1}", Model.FirstName, Model.LastName);

    var directorPicture = "/Content/Directors/" + Model.Picture;
}

<div class="movie-title">@Html.DisplayFor(model => actorName)</div>

<div class="movie-details">
    @if (String.IsNullOrEmpty(Model.Picture))
    {
        @: Picture: Director's picture is not available
    }
    else
    {
        <img src=@directorPicture alt="picture" style="width: 180px; height: 270px" />
    }
</div>

@if (Model.Age != 0)
{
    <div class="movie-details">Age: @Html.DisplayFor(model => model.Age)</div>
}
else
{
    <div class="movie-details">Age: No information about the director's age</div>
}

<div class="movie-details">
    Movies:
    <ul class="artists-list">
        @foreach (var movie in Model.Movies)
        {
            <li>
                @Html.ActionLink((movie.Title + " (" + movie.Year + ")"), "Details", "Movies", new { Area = "", id = movie.Id }, null)
            </li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Back to Directors", "Index", null, new { @class = "btn" })
</p>
