@model Information.Areas.Offer.Models.OfferModel

@{
    ViewBag.Title = "Offers";
}

<h1>@ViewBag.Title</h1>
<div>
    <ul>
        @foreach (var item in Model.OfferTitles)
        {
            <li>@Html.DisplayFor(modelItem => item)</li>
        }
    </ul>
</div>
@section Sidebar{
    Advertisements Advertisements Advertisements
}
