body {
  margin: 0;
  padding: 20px;
  font-size: 20px;
}
#playfield {
  position: relative;
  margin: 5px;
  width: 500px;
  height: 500px;
}
#field {
  position: relative;
  margin: 5px;
  width: 500px;
  height: 500px;
  background-color: #E9E9E9;
}
.red {
  color: #FF0000;
}
