<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="CodeDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CodeDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="CodeDb" connectionString="Server=3a37c5b0-1815-4bbc-8774-a21d00cd7aa9.sqlserver.sequelizer.com;Database=db3a37c5b018154bbc8774a21d00cd7aa9;User ID=pdbewopczchavosg;Password=gFnkaW4yFj5fggv3dM3JLPb2A8TmYXG3g48MYjPVnKKRNE7WRy7mPiJyEuRadRHR;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>