@model IEnumerable<LizardmanCinemas.ViewModels.ActorsShortViewModel>

<h4>Featured Actors</h4>

<script type="text/x-kendo-tmpl" id="templateActors">
    <div class="movies">
        <a href="Actors/Details/#:Id#" style="width: 90px; height: 180px;">
            #if(data.Picture != null){#
            <img src="/Content/Actors/#: Picture #" alt="#:Name#" style="width: 90px; height: 180px; " />
            #}else{#
            <img src="/Content/Actors/noPoster.jpg" alt="#:Name#" style="width: 90px; height: 180px; " />
            #}#
            <h3>#:Name#</h3>
            <p>#:Name#</p>
        </a>
    </div>
</script>

<script type="text/javascript">
    var template = kendo.template($("#templateActors").html(), { useWithBlock: false });
</script>

<div class="demo-section">
    @(Html.Kendo().ListView<LizardmanCinemas.ViewModels.ActorsShortViewModel>(Model)
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource =>
    {
        dataSource.Read(read => read.Action("ReadActors", "Actors"));
        //dataSource.PageSize(3);
    })
    //.Pageable()
    )
</div>
