
#add-contact-legend {
    height: 54px;
    color: #494949;
    font-family: 'Segoe UI', sans-serif;
    font-size: 32px;
    text-align: center;
}

#add-contact-form {
    margin-left: 75px;
    /*padding-top: 54px;*/
    padding-right: 30px;
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#left-contact-pane {
    width: 34%;
    height: 714px;
    display: inline-block;
    padding: 0 20px;
}

#contact-fname {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-mname {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-lname {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-phone {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-email {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-bdate {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-occupation {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#contact-blood {
    width: 100%;
    border: 2px solid #808080;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

#share_button {
    position: relative;
    left: 0;
    top: 3px;
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 30px;
}

.twitter-share-button {
    width: 84px;
    height: 20px;
    display: inline-block;
    background-image: url('../images/tweeter.png');
}

#right-contact-pane {
    width: 60%;
    height: 714px;
    float: right;
    display: inline-block;
    background-color: white;
}

/*#right-pane:after {
  content: "";
  display: table;
  clear: both;
}*/

#contact-address {
    padding: 0 15px;
    width: 94.5%;
    height: 400px;
    font-size: 24px;
    font-family: 'Segoe UI', sans-serif;
    border-style: none;
    border-bottom: 1px solid #0094ff;
}

#contact-site {
    margin-top: -4px;
    padding: 0 15px;
    width: 94.5%;
    height: 310px;
    font-size: 24px;
    font-family: 'Segoe UI', sans-serif;
    border-style: none;
}

#submit-new-contact {
    position: absolute;
    left: 7px;
    top: 60px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url('../images/tasks_blue.png');
    -moz-background-size: 45px;
    -o-background-size: 45px;
    -webkit-background-size: 45px;
    background-size: 45px;
    background-repeat: no-repeat;
}

    #submit-new-contact:hover {
        position: absolute;
        left: 7px;
        top: 60px;
        display: inline-block;
        width: 45px;
        height: 45px;
        background-image: url('../images/tasks_blue.png');
        -moz-background-size: 45px;
        -o-background-size: 45px;
        -webkit-background-size: 45px;
        background-size: 45px;
        background-repeat: no-repeat;
        /*-webkit-box-shadow: 2px 2px 5px #808080;
        box-shadow: 2px 2px 5px #808080;*/
        -webkit-filter: drop-shadow(2px 2px 2px #808080);
        filter: drop-shadow(2px 2px 2px #808080);
    }
