<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form ng-submit="delete(category.title)" class="form-horizontal" role="form" id="delete-category-form">
            <div class="row">
                <div class="form-group">
                    <label for="category-title">Category Title</label>
                    <input type="text" class="form-control" id="category-title" placeholder="Enter Username" ng-model="category.title">
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-block">Delete</button>
        </form>
    </div>
</div>
