<div class="main">
    <a href="#/calendar.html">
        <!--onclick="reloadEvents(calendarEventsFromDb);" >-->
        <img src="../images/calendar.png" alt="Calendar" />
        <span>Calendar</span>
    </a>
    <a href="#/tasks.html">
        <img src="../images/tasks.png" alt="Tasks" />
        <span>Tasks</span>
    </a>
    <a href="#/contacts.html">
        <img src="../images/contacts.png" alt="Contacts" />
        <span>Contacts</span>
        <div id="footer">
            <p>team_chili</p>
            <p>Organizer</p>
        </div>
    </a>
</div>
