<div id="create-list">
    <div class="login-container">
        <ul id="register" class="forms">
            <li>
                <input id="tb-list-title" data-bind="value: title" type="text" class="k-textbox" placeholder="Title" />
            </li>
           <!-- <li>
                <input data-bind="value: todos" type="text" id="tb-list-todos" class="k-textbox" placeholder="Description" />
            </li>-->
            <li>
                <button data-bind="click: create" class="k-button">Create</button>
            </li>
        </ul>
    </div>
</div>
