table {
  border-collapse: collapse;
  border: 1px solid black;
}
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px 10px;
}
th {
  background-color: #bbbbbb;
  font-weight: bold;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px 10px;
  text-align: center;
}
